---
layout: default
---
<div class="post-ribbon"></div>

<div id="post_content" class="container post-container">
  <div class="post-page card-panel z-depth-2">
  <div class="post-section">

    <p class="grey-text">
      <i class="mdi mdi-calendar"></i>&nbsp;
      <!--{{  page.date | date: "%b %-d, %Y"  }}-->
      {% if page.date %}{{ page.date | date: "%Y-%m-%d" }}{% else %}unknown{% endif %}
      &nbsp;&nbsp;<i class="mdi mdi-account-circle"></i>&nbsp;
      {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}
      &nbsp;&nbsp;<i class="mdi mdi-label"></i>&nbsp;
      <span class="capitalize">
        {% if page.categories %}{% for category in page.categories %}{{ category }}{% unless forloop.last %}, {% endunless %}{% endfor %}
        {% else %}unknown
        {% endif %}
      </span>
      &emsp;<!--<i class="mdi mdi-refresh"></i>&nbsp;UPDATE: {% if page.update %}{{ page.update | date: "%b %-d, %Y" }}{% else %}{{ page.last_modified_at | date: "%b %-d, %Y" }}{% endif %}-->
    </p>

    <div class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>

      {% if page.tags %}
        <!--<i class="post-tag mdi mdi-tag-multiple waves-effect waves-light"></i>-->
        {% for tag in page.tags %}
        <span class="chip">{{ tag }}</span>
        {% endfor %}
      {% endif %}
    </div>

    <article class="post-content">
      {{ content | toc_generate }}
    </article>

    <!--{ include share.html }-->


    {% include git_talk.html %}

  </div>
  </div>

  {% if page.mathjax %}
    {% include mathjax_support.html %}
  {% endif %}

</div>
<!--<div id="post_need_pwd" style="display: none" class="container post-container">
</div>-->
<script>
  //单一登录验证
  if(window.localStorage){
    //document.getElementById('post_content').setAttribute('hidden',true);
    //document.getElementById('post_content').style.display = 'none';
    //document.getElementById('post_content').innerHTML = '';
    //document.getElementById('post_need_pwd').style.display = 'block';
  }else{
    alert('This browser does NOT support localStorage');
  }
</script>
